.song-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: auto;
    padding: 30px;
}

td {
    width: 250px;
}

table {
    width: 100%;
}

tr,
td,
th {
    border: 1px solid lightgray;
    padding: 5px;
}

th {
    background-color: aliceblue;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

ul li {
    list-style: none;
}
