.song-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* background: red; */
    height: auto;
    padding: 30px;
}
table{
    width: 100%;
}
tr,td,th{
    /* border: 1px solid lightgray; */
    padding: 5px;
}
th{
    background-color: aliceblue;
}
tr:nth-child(even) {
    /* background-color: #D6EEEE; */
  }