.song-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* background: red; */
    height: auto;
    /* padding: 30px; */
}

table {
    width: 900px;
}

.song-container table {
    width: 70%;
}

.song-container table tbody td img{
    width: 200px;
    padding: 10px;
}

.song-container h1{
    color: darkgray;
}

tr,
td,
th {
    /* border: 1px solid lightgray; */
    padding: 5px;
    width: 200px;
}

th {
    background-color: aliceblue;
}


.song-container h1 {
    margin-top: 0px;
    margin: 0px 0px 25px 0px;
}